<div class="container">

	<%= render 'layouts/sliderTop'%>

	<div class="row center">
		<div class="span12">
			<h2 class="short">H2 Consulting es <strong class="inverted">creatividad, productividad y eficiencia</strong></h2>
			<p class="featured lead">
				Somos una empresa mexicana de excelencia en el desarrollo, integración e implementación de soluciones informáticas que satisfaga al 100% las necesidades de nuestros clientes
			</p>
		</div>
	</div>

	<div class="row pull-top">
		<div class="span4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon-group"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Experiencia comprobada</h4>
					<p class="tall">Más de 20 años de experiencia en conjunto</p>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon-file"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">HTML5 / CSS3 / JS</h4>
					<p class="tall">Tecnología de vanguardia a la medida</p>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon-google-plus"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Metodologías ágiles</h4>
					<p class="tall">Herramientas de gestión para la alta productividad</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="image-icon small user"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Resultados</h4>
					<p class="tall">Colaboración exitosa proyectos en diversos sectores</p>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon-reorder"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Alto retorno de inversión</h4>
					<p class="tall">Implementación de soluciones tecnologías con alta rentabilidad</p>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon-desktop"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Consultoría de amplia gama</h4>
					<p class="tall">Expertise en todas las etapas de los proyectos de TI</p>
				</div>
			</div>
		</div>
	</div>
</div>
