<% provide(:titulo, 'Prudential')%>

<div class="container">

	<h2>Nuestros proyectos en <strong>Prudential Seguros México</strong></h2>

	<div class="row">
		<div class="span10">
			<p class="lead">
				Mediante el uso de las tecnologías de la información proporcionamos servicios que potencializan la efectividad e incrementan el retorno de inversión en cada decisión de negocio.
			</p>
		</div>
		<div class="span2">
			<a href="/contacto" class="btn btn-large btn-primary pull-top pull-right">Contáctanos</a>
		</div>
	</div>
</div>
