<% provide(:titulo, 'Servicios')%>

<div class="container">

	<h2>Nuestros <strong>Servicios</strong></h2>

	<div class="row">
		<div class="span10">
			<p class="lead">
				Mediante el uso de las tecnologías de la información proporcionamos servicios que potencializan la efectividad e incrementan el retorno de inversión en cada decisión de negocio.
			</p>
		</div>
		<div class="span2">
			<a href="#" class="btn btn-large btn-primary pull-top pull-right">Contáctanos</a>
		</div>
	</div>

	<hr>

	<div class="row featured-boxes">
		<div class="span3">
			<div class="featured-box featured-box-primary">
				<div class="box-content">
					<i class="icon icon-play"></i>
					<h4>Desarrollo</h4>
					<p>Creación de aplicaciones en diferentes plataformas.<a href="/" class="learn-more">ver más <i class="icon-angle-right"></i></a></p>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="featured-box featured-box-secundary">
				<div class="box-content">
					<i class="icon icon-pencil"></i>
					<h4>Maquetación</h4>
					<p>Creación de mockups, pruebas de concepto y propuestas funcionales.<a href="/" class="learn-more">ver más <i class="icon-angle-right"></i></a></p>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="featured-box featured-box-tertiary">
				<div class="box-content">
					<i class="icon icon-circle-arrow-up"></i>
					<h4>Implementación</h4>
					<p>Despliegue de soluciones CMS y Portales.<a href="/" class="learn-more">ver más <i class="icon-angle-right"></i></a></p>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="featured-box featured-box-quaternary">
				<div class="box-content">
					<i class="icon icon-user"></i>
					<h4>Reclutamiento</h4>
					<p>Identificación, filtración y asignación de recursos especializados. <a href="/" class="learn-more">ver más <i class="icon-angle-right"></i></a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row pull-top">
		<div class="span8">
			<h2>Nuestras <strong>ventajas</strong></h2>
			<div class="row">
				<div class="span3">
					<div class="feature-box">
						<div class="feature-box-icon">
							<i class="icon-group"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Soporte inmediato</h4>
							<p class="tall">Tiempo de respuesta </p>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-box-icon">
							<i class="icon-file"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Tecnologías de vanguardia</h4>
							<p class="tall">Web 2.0, Agile, RoR, Django, Java, HTML 5</p>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-box-icon">
							<i class="icon-google-plus"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Metodologías ágiles</h4>
							<p class="tall">Scrum, Agile, XProgramming</p>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="feature-box">
						<div class="feature-box-icon">
							<i class="icon-adjust"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Amplia experiencia</h4>
							<p class="tall">Más de 20 años en conjunto de experiencia</p>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-box-icon">
							<i class="icon-film"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Innovación & Diseño</h4>
							<p class="tall">Construimos lo que necesitas</p>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-box-icon">
							<i class="icon-film"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Usabilidad</h4>
							<p class="tall">Creando siempre con el usuario en mente</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</div>
