<% provide(:titulo, 'Equipo')%>

<div class="container">

	<h2>El <strong>equipo</strong></h2>

	<hr />

	<div class="row">
		<ul class="team-list sort-destination" data-sort-id="team">
			<li class="span3 isotope-item leadership">
				<div class="team-item thumbnail">
					<a href="#" class="thumb-info team">
						<img alt="" src=<%= asset_path 'equipo/team-1.jpg'%> >
						<span class="thumb-info-title">
							<span class="thumb-info-inner">Hugo Calvillo</span>
							<span class="thumb-info-type">Director Comercial</span>
						</span>
					</a>
					<span class="thumb-info-caption">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
						<span class="thumb-info-social-icons">
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon-facebook"></i><span>Facebook</span></a>
							<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon-twitter"></i><span>Twitter</span></a>
							<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="icon-linkedin"></i><span>Linkedin</span></a>
						</span>
					</span>
				</div>
			</li>
			<li class="span3 isotope-item leadership">
				<div class="team-item thumbnail">
					<a href="#" class="thumb-info team">
						<img alt="" src=<%= asset_path 'equipo/team-2.jpg'%> >
						<span class="thumb-info-title">
							<span class="thumb-info-inner">Héctor R. Salazar</span>
							<span class="thumb-info-type">Director de Tecnología</span>
						</span>
					</a>
					<span class="thumb-info-caption">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
						<span class="thumb-info-social-icons">
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon-facebook"></i><span>Facebook</span></a>
							<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon-twitter"></i><span>Twitter</span></a>
							<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="icon-linkedin"></i><span>Linkedin</span></a>
						</span>
					</span>
				</div>
			</li>
		</ul>
	</div>

	<div class="row center">
		<div class="span12">
			<h2 class="short">
				Somos <strong class="inverted">una empresa mexicana dedicada y comprometida</strong>
				en ofrecer servicios de consultoría para soluciones informáticas.
			</h2>
			<h3>
				Nuestra gente conforma un grupo comprometido con nuestros clientes, a quienes ofrecemos calidad de servicio,  respaldado por profesionales especialistas en la materia.

			</h3>
		</div>
	</div>
</div>
