<div class="slider-container light">
	<div class="slider" id="revolutionSlider">
		<ul>
			<li data-transition="fade" data-slotamount="10" data-masterspeed="500">
				<img src=<%= asset_path 'slides/slide-bg-light.jpg'%> data-fullwidthcentering="on" alt="">
					<div class="caption sft stb visible-desktop"
						 data-x="12"
						 data-y="180"
						 data-speed="300"
						 data-start="1000"
						 data-easing="easeOutExpo"><%= image_tag 'slides/slide-title-border-light.png', :alt => "" %></div>

					<div class="caption top-label lfl stl"
						 data-x="52"
						 data-y="180"
						 data-speed="300"
						 data-start="500"
						 data-easing="easeOutExpo">Necesitas apoyo en tecnología</div>

					<div class="caption sft stb visible-desktop"
						 data-x="385"
						 data-y="180"
						 data-speed="300"
						 data-start="1000"
						 data-easing="easeOutExpo"><%= image_tag 'slides/slide-title-border-light.png', :alt => "" %></div>

					<div class="caption main-label sft stb"
						 data-x="0"
						 data-y="230"
						 data-speed="300"
						 data-start="1500"
						 data-easing="easeOutExpo">Web, CMS, Portales?</div>

					<div class="caption bottom-label sft stb"
						 data-x="50"
						 data-y="280"
						 data-speed="500"
						 data-start="2000"
						 data-easing="easeOutExpo">Permítenos potencializar tu organización ...</div>

			</li>
			<li data-transition="boxslide" data-slotamount="7" data-link="http://www.google.de">
				<img src=<%= asset_path 'slides/slide-bg-light.jpg'%> >
			   	<div class="caption sft big_white"  data-x="100" data-y="100" data-speed="100" data-start="1500" data-easing="easeOutBack">
			   		Innovación con resultados
			   	</div>
			   	<div class="caption sfb bold_red_text"  data-x="100" data-y="142" data-speed="100" data-start="3100" data-easing="easeOutBack">
			   		Experiencia comprobada!
			   	</div>
			   	<div class="caption lfr large_black_text"  data-x="210" data-y="210" data-speed="200" data-start="3500">
			   		El estado del arte en tecnología ...
			   	</div>
			   	<div class="caption sfb large_grey_text"  data-x="260" data-y="260" data-speed="200" data-start="4000">
			   		<ul>
			   			<li>> Java</li>
			   			<li>> HTML 5</li>
			   			<li>> CSS 3</li>
			   			<li>> Ruby</li>
			   			<li>> PHP</li>
			   			<li>> Javascript</li>
			   		</ul>
			   	</div>
			</li>
		</ul>
	</div>
</div> 